@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


::-moz-selection {
    background-color: #C3CFE2;
  }
  
  ::selection {
    background-color: #C3CFE2;
  }
  

  .para-text .text {
    padding-left: 4rem;
    padding-top: 2rem;
    text-align: center;
    position: relative;
    justify-content: center;
    text-transform: uppercase;
    line-height: 8rem;
    letter-spacing: 1rem;
    background: linear-gradient(to bottom, #ffffff 0%, #e2d7f8 50%, #bfa2f3 100%);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7rem;
    font-family: 'Anton', sans-serif;

  }
  .wrapper {
    transform: translateZ(1px);
    position: relative;
}
  .parallax-section{
    z-index: 1;
	  overflow: hidden;
    transform-style: preserve-3d;
  }

  @media screen and (max-width: 500px){
    .para-text .text {
        /* padding-left: 1rem; */
        /* padding-top: 7rem; */
        margin-left: -120px;
        text-align: center;
        line-height: 4rem;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
        background: linear-gradient(to right, #ffffff 0%, #dbc3fa 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4rem;
        font-family: 'Anton', sans-serif;
    }
  }